---
import Button from "@/components/layouts/base-layout/components/button.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ApplyNowImage from "@/assets/apply-now.png";
---

<div class="pt-44">
	<section
		class="relative w-[1024px] aspect-video mx-auto overflow-hidden rounded-lg p-16"
	>
		<Image
			src={ApplyNowImage}
			loading="eager"
			alt="apply now"
			class="absolute w-full h-full inset-0 object-cover"
		/>
		<div
			class="absolute inset-0 backdrop-blur-xl t bg-[#222222] bg-opacity-40"
		>
		</div>
		<Icon
			role="presentation"
			aria-hidden
			name="logo-notext-nocolor"
			class="absolute left-4 top-4 w-14 h-14"
		/>

		<div
			class="relative text-white h-full mix-blend-screen flex items-center flex-col justify-between"
		>
			<h2 class="text-7xl font-semibold">Ready to Apply?</h2>
			<p class="text-opacity-80 text-3xl px-32">
				Lorem Ipsum is simply dummy text of the printing
				and typesetting industry. Lorem Ipsum h
			</p>
			<Button
				type="secondary"
				class="border-current text-current hover:text-black hover:bg-white hover:mix-blend-screen text-3xl w-full h-24 border-2 flex justify-center items-center"
				href="#"
			>
				Apply now
			</Button>
		</div>
	</section>
</div>
