---
import ServiceCard from "./components/service-card.astro";

const services = [
	{
		icon: "message",
		title: "Free Consulting",
		description:
			"Your company can save up to 60% of payroll costs woth our starfin solutions model. These savings position your business for long-term financial resilience.",
	},
	{
		icon: "people",
		title: "Communication with agents",
		description:
			"Your company can save up to 60% of payroll costs woth our starfin solutions model. These savings position your business for long-term financial resilience.",
	},
	{
		icon: "cap",
		title: "University Descriptions",
		description:
			"Your company can save up to 60% of payroll costs woth our starfin solutions model. These savings position your business for long-term financial resilience.",
	},
	{
		icon: "chart",
		title: "Realtime Apply status",
		description:
			"Your company can save up to 60% of payroll costs woth our starfin solutions model. These savings position your business for long-term financial resilience.",
	},
];
---

<section class="pt-12 md:pt-24 lg:pt-32 text-primary-950">
	<h2 class="pb-12 md:pb-24 lg:pb-32 text-3xl lg:text-7xl text-center">
		Our Services
	</h2>

	<ul
		class="grid md:grid-cols-2 gap-6 lg:gap-9 max-w-[1170px] mx-auto px-6 md:px-8"
	>
		{services.map((service) => <ServiceCard {...service} />)}
	</ul>
</section>
