---
import InfiniteSlider, { type Slide } from "./components/infinite-slider.astro";
const universities: Slide[] = Array(20).fill({
	image: "/images/universities/sharif.png",
	url: "#",
	name: "sharif",
});
---

<section class="pt-12 md:pt-10 lg:pt-36">
	<h2
		class="pb-12 md:pb-18 lg:pb-20 text-3xl lg:text-7xl text-primary-950 text-center w-full max-w-[645px] px-8 md:px-0 mx-auto"
	>
		Apply to top Iranian Universities
	</h2>
	<InfiniteSlider slides={universities} />
</section>
