---
import { Icon } from "astro-icon/components";

interface Props {}
---

<style>
	.s-decoration-line-vertical--half {
		background-image: linear-gradient(
			to bottom,
			transparent,
			theme(colors.primary.600) calc(100% - theme(spacing.16)),
			transparent
		);
	}
	.s-decoration-line-vertical--half-reverse {
		background-image: linear-gradient(
			to bottom,
			transparent,
			theme(colors.primary.600) theme(spacing.16),
			transparent
		);
	}
	.s-decoration-line-horizontal {
		background-image: linear-gradient(
			to left,
			transparent,
			theme(colors.primary.600) theme(spacing.16),
			theme(colors.primary.600) calc(100% - theme(spacing.16)),
			transparent
		);
	}
	@media (max-width: theme(screens.md)) {
		.s-decoration-line-vertical--half {
			background-image: linear-gradient(
				to bottom,
				transparent,
				theme(colors.primary.600)
					calc(100% - theme(spacing.8)),
				transparent
			);
		}
		.s-decoration-line-vertical--half-reverse {
			background-image: linear-gradient(
				to bottom,
				transparent,
				theme(colors.primary.600) theme(spacing.8),
				transparent
			);
		}
		.s-decoration-line-horizontal {
			background-image: linear-gradient(
				to left,
				transparent,
				theme(colors.primary.600) theme(spacing.8),
				theme(colors.primary.600)
					calc(100% - theme(spacing.16)),
				transparent
			);
		}
	}
</style>

<section
	class="flex flex-col items-center gap-11 text-primary-950 pt-16 md:pt-32 lg:pt-40 px-6 md:px-8"
>
	<h2 class="flex items-center text-3xl lg:text-7xl gap-2 lg:gap-6">
		Why <Icon
			title="IranApply"
			aria-label="IranApply"
			name="logo-why-us"
			class="translate-y-1"
		/>
	</h2>
	<div
		class="from-transparent to-transparent via-primary-600 h-[1px] w-full max-w-[887px] bg-gradient-to-r mx-auto"
	>
	</div>
	<div>
		<section class="relative w-full px-8 md:px-20 pb-8">
			<h2 class="text-2xl lg:text-5xl text-center">
				Traditional Problems
			</h2>
			<div class="w-full pt-12 md:pt-16 lg:pt-20">
				<h3
					class="text-xl lg:text-4xl text-primary-900"
				>
					Lack of information:
				</h3>
				<p
					class="lg:text-2xl text-primary-600 pt-3 lg:pt-6 pl-6 md:pl-12 pb-8"
				>
					Lorem ipsum dolor sit amet, consectetur
					adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam.
				</p>
			</div>
			<h3 class="text-xl lg:text-4xl text-primary-900">
				Poor communication:
			</h3>
			<p
				class="lg:text-2xl text-primary-600 pt-3 lg:pt-6 pl-6 md:pl-12 pb-8"
			>
				Lorem ipsum dolor sit amet, consectetur
				adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam.
			</p>
			<div
				class="s-decoration-line-vertical--half w-[1px] top-0 -bottom-4 md:-bottom-8 mx-auto absolute left-0"
			>
			</div>
			<div
				class="s-decoration-line-horizontal h-[1px] absolute bottom-0 -left-4 md:-left-8 -right-4 md:-right-8 bg-gradient-to-r mx-auto"
			>
			</div>
		</section>
		<section class="relative w-full p-6 md:p-12">
			<div
				class="flex gap-4 md:gap-8 lg:gap-12 text-primary-950 flex-col p-8 md:p-10 lg:p-16 pt-6 md:pt-8 lg:pt-12 rounded-lg md:rounded-xl shadow-[0_4px_48px_0] transition hover:shadow duration-500 hover:shadow-primary-200 shadow-primary-200 hover:scale-95"
			>
				<h2
					class="flex text-xl md:text-3xl lg:text-5xl items-center mx-auto"
				>
					<Icon
						title="IranApply"
						aria-label="IranApply"
						name="logo-notext"
						class="w-10 h-10 md:w-12 md:h-12 lg:w-20 lg:h-20"
					/>
					Solution
				</h2>
				<p
					class="md:text-lg lg:text-2xl text-primary-600 px-2 lg:px-4"
				>
					Lorem ipsum dolor sit amet, consectetur
					adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam, quis
					nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea cupidatat non
					proident, sunt in culpa qui officia
					deserunt mollit anim id est laborum.
				</p>
			</div>
			<div
				class="s-decoration-line-vertical--half-reverse w-[1px] -top-4 md:-top-8 bottom-0 mx-auto absolute right-0"
			>
			</div>
		</section>
	</div>
</section>
