---
import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	title: string;
	description: string;
}

const { icon, title, description } = Astro.props;
---

<li
	class="flex gap-4 text-primary-950 flex-col p-10 rounded-xl shadow-[0_2px_24px_0] md:shadow-[0_4px_48px_0] transition hover:shadow duration-500 hover:shadow-primary-300 shadow-primary-300 md:shadow-primary-300 hover:scale-95"
>
	<div class="flex items-center gap-4 md:flex-col md:items-stretch">
		<Icon aria-hidden name={icon} class="w-8 h-8 md:w-16 md:h-16" />
		<h3 class="font-semibold text-xl md:text-2xl">{title}</h3>
	</div>
	<p class="text-primary-500">{description}</p>
</li>
