---
import { Icon } from "astro-icon/components";
---

<footer class="w-full h-80 shadow-inner text-primary-800">
	<div class="fixed bottom-0 left-0 -z-10 h-80 w-full">
		<div class="px-28 py-16 flex w-full mx-auto">
			<div class="flex-[5]">
				<Icon name="logo-full" class="h-12 w-max" />
				<p class="pt-4 pl-4">
					Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Voluptas delectus
					exercitationem vitae quod, perferendis
					repudiandae consectetur et suscipit,
					nulla doloremque maiores! Ullam quia
					explicabo fugit perferendis voluptates
					libero quis illo, quaerat quae iure?
					Provident, cupiditate eum. Et quo
					repellendus eveniet.
				</p>
			</div>
			<div class="flex-[6] flex">
				<span class="mt-auto ml-auto block"
					>Copyright © 2024 IranApply.</span
				>
			</div>
		</div>
	</div>
</footer>
